.container_login{
    min-height: 85vh;
    min-width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.input_spacing_login{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.text-signup_login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 0 5% 0;
}
